@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
  transition: background-color 0.1s, color 0.1s;
}

.card {
  transition: transform 0.2s;
  cursor: pointer;
  height: 50%;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-body .card-title {
  font-weight: 800;
}

.navbar-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 800;
}

.fa-solid {
  position: absolute;
  margin-left: 10px;
}

#search {
  padding-left: 35px !important;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: none;
  border: none;
  background-color: #fefefe;
}

#search::placeholder {
  color: #333;
  text-transform: none;
}

#darkModeToggle {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 150px;
  border: 0;
  outline: 0;
}

#darkModeToggle i {
  position: relative;
}

#filterRegion {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 8px;
  background-color: #fefefe;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: #2b3945 !important;
  color: #ffffff !important;
}

.dark-mode .card {
  background-color: #4a4e69;
}

.dark-mode #search,
.dark-mode .navbar-custom,
.dark-mode a,
.dark-mode .btn,
.dark-mode .form-select {
  background-color: #374151;
  color: #ffffff;
  border: none;
}

.dark-mode #search::placeholder {
  color: #ffffff;
}

.dark-mode h1,
.dark-mode p,
.dark-mode .card-title {
  color: #ffffff;
}

.back-btn {
  border: none;
  outline: none;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: 500;
}

.bi-arrow-left {
  font-weight: 500;
}

.border-country {
  width: 80px;
  height: 40px;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fefefe;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s;
}
